/* Fonts */

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Robotobold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Robotomedium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

/* Variables */

:root {
    --basic-black: #000000;
    --basic-black-whiten: #283136;
    --basic-white: #FFFFFF;
    --basic-grey: #EEEEEE;
    --basic-grey-whiten: #E1E1E1;
    --basic-grey-dark: #A6A6A6;
    --basic-grey-darken: #666666;
    --basic-red: #FB565A;
    --basic-green: #00CA74;
    --basic-yellow: #EFC849;

    --special-black-whiten: #4D4D4D; /* special - цвета используемые при интерактиве */
    --special-green: #00BC6C;
    --special-green-dark: #00AA62;
    --special-grey: #DFDFDF;
    --special-grey-dark: #B4B9BB;
    --special-grey-darken: #D5D5D5;
    --special-grey-blacken: #444444;
    --special-grey-white: #D7DCDE;
    --special-grey-whiten: #DBDBDB;
    --special-red: #E74246;
    --special-red-dark: #D7373B;
    --special-yellow: #EAB534;
    --special-yellow-dark: #E5A722;
    --special-opacity-white: rgba(255, 255, 255, 0.3);
    --special-opacity-black:  rgba(0, 0, 0, 0.3);
    --special-opacity-blacken:  rgba(0, 0, 0, 0.6);
    --special-opacity-dark:  rgba(0, 1, 1, 0.1);
    --special-opacity-darken:  rgba(0, 1, 1, 0.25);
    --special-opacity-grey: rgba(68, 68, 68, 0.5);
}

/* Global */

.page-body {
    min-width: 1200px;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    box-sizing: border-box;
    color: var(--basic-black);
    background-color: var(--basic-white);

    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
}

.button {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 18px;
    border-radius: 3px;
    border: none;
}

.button_interactive:hover,
.button_interactive:focus {
    background-color: var(--special-red);
}

.button_interactive:active {
    background-color: var(--special-red-dark);
    color: var(--special-opacity-white);
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* main-header */

.main-header {
    background-color: var(--basic-grey);
}

.nav {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    padding-top: 40px;
}

.main-header__logo {
    position: relative; /* Хак для визуализации нижнего outline при :focus, иначе обрезается нижним фоном */
    display: flex;
    flex-wrap: wrap;
    justify-self: start;
}

.logo__img {
    padding-top: 8px;
}

.main-header__nav {
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.logo:hover path,
.logo:focus path {
    fill: var(--special-opacity-blacken);
}

.logo:active path {
    fill: var(--basic-grey-dark);
}


.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    padding: 34px 0 0 71px;
    margin: 0;
}

.nav__item {
    margin-right: 46px;
    padding: 0 0 14px 0;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
}

.nav__link {
    display: block;
    color: var(--basic-black);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--basic-red);
}

.nav__link:active {
    color: var(--special-opacity-black);
}

.add-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 34px 0 0 0;
}

.add-nav__item {
    padding: 0 0 14px 41px;
    margin: 0 0 0 20px;
    position: relative;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
}

.cart__link:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 8px;
    left: 1px;
    background-image: url("../img/icon-shopping-cart.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.nav__item_active,
.add-nav__item_active {
    border-color: var(--basic-red);
}

/* main for index.html */

/* slider */

.slider {
    background-color: var(--basic-grey);
}

.slider__wrapper {
    position: relative;
}

.slider__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide {
    text-align: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.slide_1 {
    background-image: url("../img/index-slide1.png");
}

.slide_2 {
    background-image: url("../img/index-slide2.png");
}

.slide_3 {
    background-image: url("../img/index-slide3.png");
}

.slider__item {
    display: none;
}

.slider__item_current {
    display: block;
}

.slide__content {
    box-sizing: border-box;
    min-height: 430px;
    width: 520px;
    padding: 72px 0 60px 0;
}

.slide__slogan {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin: 0;
    padding: 0 0 25px 0;
}

.slide__text {
    color: var(--basic-black-whiten);
    margin: 0;
    padding: 0 0 40px 0;
}

.slide__button {
    margin: 0 0 19px 0;
}

.slide__link {
    background-color: var(--basic-red);
    color: var(--basic-white);
    padding: 16px 55px;
}

.slider__controls {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 150px;
    bottom: 96px;
    left: 556px;
    z-index: 1;
}

.slider__toggle {
    margin-right: 17px;
    margin-bottom: 5px;
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border: none;
    border-radius: 50%;
}

.slider__toggle_current {
    box-shadow: inset 0 0 0 5px var(--basic-white),
    inset 0 0 0 7px var(--basic-grey-dark);
}

/* services */

.services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    list-style: none;
    padding: 75px 0 81px 0;
    margin: 0;
    border-bottom: 2px solid var(--basic-grey);
}

.item-services {
    min-height: 346px;
    text-align: left;
    padding-right: 60px;
}

.item-services::before {
    width: 300px;
    height: 146px;
    content: "";
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 0 25px 0;
}

.item-services_websites::before {
    background-color: var(--basic-red);
    background-image: url("../img/services-sites.png");
}

.item-services_apps::before {
    background-color: var(--basic-green);
    background-image: url("../img/services-apps.png");
}

.item-services_presentations::before {
    background-color: var(--basic-yellow);
    background-image: url("../img/services-presentations.png");
}

.item-services__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-black-whiten);
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 15px 0;
}

.item-services__text {
    color: var(--basic-black-whiten);
    margin: 0;
    padding: 0 0 32px 0;
}

.item-services__button {
    margin: 0;
}

.item-services__link {
    color: var(--basic-white);
    padding: 16px 40px;
}

.item-services__link_websites {
    background-color: var(--basic-red);
}

.item-services__link_websites:hover,
.item-services__link_websites:focus {
    background-color: var(--special-red);
}

.item-services__link_websites:active {
    background-color: var(--special-red-dark);
    color: var(--special-opacity-white);
}

.item-services__link_apps {
    background-color: var(--basic-green);
}

.item-services__link_apps:hover,
.item-services__link_apps:focus {
    background-color: var(--special-green);
}

.item-services__link_apps:active {
    background-color: var(--special-green-dark);
    color: var(--special-opacity-white);
}

.item-services__link_presentations {
    background-color: var(--basic-yellow);
}

.item-services__link_presentations:hover,
.item-services__link_presentations:focus {
    background-color: var(--special-yellow);
}

.item-services__link_presentations:active {
    background-color: var(--special-yellow-dark);
    color: var(--special-opacity-white);
}

/* about */

.about {
    padding: 0 0 49px 0;
    min-height: 525px;
    box-sizing: border-box;
}

.about-grid {
    display: grid;
    grid-template-columns: 8fr 4fr;
    column-gap: 80px;
}

.about__article {
    padding: 72px 0 0 0;
    text-align: left;
}

.article-about__tagline {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin: 0;
    padding: 0 0 34px 0;
}

.article-about__text {
    color:var(--basic-black-whiten);
    margin: 0;
    padding:  0 0 41px 0;
}

.article-about__head {
    text-transform: uppercase;
    font-weight: 700;
    color:var(--basic-black-whiten);
    margin: 0;
    padding: 0 0 23px 0;
}

.article-about__capabilities {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 0;
}

.capabilities__item {
    position: relative;
    color:var(--basic-black-whiten);
    padding: 0 0 24px 36px;
}

.capabilities__item:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    top: 11px;
    left: 0;
    background-color: var(--basic-red);
}

.indicators::before {
    content: "";
    display: block;
    height: 208px;
    width: 360px;
    background-color: var(--basic-grey);
    background-image: url("../img/logo-nerds-color.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 40px 0 0 4px;
}

.indicators__table {
    padding: 0;
    margin: 0;
}

.table-indicators__title {
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 35px;
    padding-bottom: 30px;
}

.table-indicators__body {
    display: flex;
    flex-direction: column-reverse;
}

.table-indicators__names {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    line-height: 18px;
    color: var(--basic-black-whiten);
    text-align: left;
    padding: 0;
}

.table-indicators__numbers {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 8px;
}

.table-indicators__numbers sup {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
}

/* customers */

.customers {
    padding-bottom: 80px;
}

.customers__list {
    display: grid;
    grid-template-columns: 280px 300px 300px 280px;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top:  2px solid var(--basic-grey);
    border-bottom: 2px solid var(--basic-grey);
}

.customers__item {
    height: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers__img {
    width: 210px;
    height: 90px;
    object-fit: scale-down;
}

.customers__item:first-of-type .customers__link {
    padding: 20px 17px 0 0px;
}

.customers__item:nth-of-type(2) .customers__link {
    padding: 8px 0 0 0px;
}

.customers__item:nth-of-type(3) .customers__link {
    padding: 8px 0 0 3px;
}

.customers__item:nth-of-type(4) .customers__link {
    padding: 14px 0 0 20px;
}

.customers__link {
    opacity: 0.2;
}

.customers__link:hover,
.customers__link:focus {
    opacity: 1;
}

.customers__link:active {
    opacity: 0.1;
}

.customers__item:not(:nth-of-type(4n))::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 52px;
    right: 0;
    top: 64px;
    background-color: var(--basic-grey);
}

/* main for catalog.html */

/* catalog-title */

.catalog-title {
    padding: 72px 0 108px 0;
    background-color: var(--basic-grey);
}

.catalog-title__text {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

/* catalog-block */

.catalog-grid {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 140px;
    padding: 55px 20px 0 20px;
}

/* filter */

.filter {
    grid-column: 1/2;
    grid-row: 1/3;
}

.form-filter {
    padding: 0;
    margin: 0;
}

.fieldset,
.form-filter__cost {
    padding: 0;
    margin: 0;
    border: none;
}

.form-filter__cost {
    margin-bottom: 54px;
}

.cost-filter__legend,
.fieldset__legend,
.sorting__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.fieldset__list,
.sorting__list {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.range__label,
.range__input {
    line-height: 22px;
    color: var(--basic-black-whiten);
    text-transform: uppercase;
}

.cost-filter__range {
    width: 260px;
    margin-top: 49px;
}

.range__controls {
    position: relative;
    height: 41px;
    background-color: var(--basic-grey);
    border-radius: 5px;
    margin-bottom: 13px;
    padding: 39px 20px 0 20px;
}

.range__scale {
    height: 2px;
    background-color: var(--special-grey-white);
}

.range__bar {
    width: 70%;
    height: 2px;
    background-color: var(--basic-green);
}

.toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--basic-grey-dark);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--special-opacity-black);
    cursor: pointer;
}

.toggle_min {
    left: 18px;
}

.toggle_max {
    left: 160px;
}

.range__price {
    display: flex;
    justify-content: space-between;
}

.range__input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: var(--basic-grey);
}

/* Скрытие стрелок input type="number" для Chrome, Safari, Edge, Opera */
.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Скрытие стрелок input type="number" для  Firefox */
.range__input[type=number] {
    -moz-appearance: textfield;
}

.fieldset {
    padding: 0 0 20px 0;
}

.fieldset__legend {
    margin-bottom: 17px;
}

.fieldset__item {
    line-height: 19px;
    color: var(--basic-black-whiten);
    margin: 0 0 22px 0;
}

.radio__label,
.checkbox__label {
    display: block;
    position: relative;
    padding: 0 0 0 36px;
    cursor: pointer;
    user-select: none;
}

.radio__input + .radio__label::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: -4px;
    left: 0px;
    background-image: url("../img/radio-off.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
}

.radio__input:checked + .radio__label::before {
    background-image: url("../img/radio-on.svg");
}

.radio__input:hover + .radio__label::before {
    opacity: 1;
}

.radio__input:focus + .radio__label::before {
    opacity: 1;
    outline: 3px solid var(--basic-black);
}

.radio__input:focus + .radio__label {
    color: var(--special-opacity-black);
}

.radio__input:disabled + .radio__label::before {
    opacity: 0.1;
}

.radio__input:disabled + .radio__label {
    color: var(--special-opacity-black);
}

.checkbox__input + .checkbox__label::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    top: -2px;
    left: 0;
    background-image: url("../img/checkbox-off.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
}

.checkbox__input:checked + .checkbox__label::before {
    width: 25px;
    background-image: url("../img/checkbox-on.svg");
}

.checkbox__input:hover + .checkbox__label::before {
    opacity: 1;
}

.checkbox__input:focus + .checkbox__label::before {
    opacity: 1;
    outline: 3px solid var(--basic-black);
}

.checkbox__input:focus + .checkbox__label {
    color: var(--special-opacity-black);
}

.checkbox__input:disabled + .checkbox__label::before {
    opacity: 0.1;
}

.checkbox__input:disabled + .checkbox__label {
    color: var(--special-opacity-black);
}

.form-filter__button {
    padding: 16px 88px;
    margin: 7px 0 20px 0;
    color: var(--basic-black);
    background-color: var(--basic-grey);
}

.form-filter__button:hover,
.form-filter__button:focus {
    background-color: var(--special-grey);
}

.form-filter__button:active {
    background-color: var(--special-grey-darken);
    color: var(--special-opacity-black);
    outline: none;
    box-shadow: inset 0px 3px 0px var(--special-opacity-dark);
}

/* sorting */

.sorting {
    grid-column: 2/-1;
    height: min-content;

    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 20px;
}

.sorting__title {
    margin: 0;
    padding: 0 40px 0 0;
}

.sorting__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.sorting__item {
    padding: 0;
    margin: 0;
}

.sorting__link {
    display: block;
    color: var(--special-opacity-black);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0 26px 5px 0;
    padding: 4px 0 0 0;
}

.sorting__link_descend,
.sorting__link_ascend {
    margin: 0 0 5px 19px;
}

.sorting__link:hover,
.sorting__link:focus {
    color: var(--special-opacity-blacken);
}

.sorting__link_descend:hover path,
.sorting__link_ascend:hover path,
.sorting__link_descend:focus path,
.sorting__link_ascend:focus path  {
    fill: var(--special-opacity-blacken);
}

.sorting__link:active {
    color: var(--basic-black);
}

.sorting__link_descend:active path,
.sorting__link_ascend:active path {
    fill: var(--basic-black);
}

.sorting__link_current,
.sorting__link_current:hover,
.sorting__link_current:focus {
    color: var(--basic-black);
}

.sorting__link_current path,
.sorting__link_current:hover path,
.sorting__link_current:focus path {
    fill: var(--basic-black);
}

/* catalog */

.catalog {
    grid-column: 2/-1;
    height: min-content;
}

.catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 30px;
    list-style: none;
    margin: 0;
    padding: 48px 0 0 0;
}

.item-catalog {
    position: relative;
    z-index: 1;
    border-radius: 5px;
}

.item-catalog__img {
    display: block;
    width: 358px;
    height: 578px;
    background-color: var(--special-grey-white);
    border: 1px solid var(--special-grey-white);
    border-radius: 0 0 5px 5px;
    object-fit: contain;
}

.item-catalog__desc {
    position: absolute;
    width: 360px;
    min-height: 231px;
    max-height: 578px;
    padding: 0 50px;
    z-index: -1;
    bottom: 0;
    left: 0;
    background-color: var(--basic-grey);
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.item-catalog__title {
    display: inline-block;
    max-height: 200px;
    overflow-y: auto;
    vertical-align: top;
    padding: 27px 0 0 0;
    margin: 0;
}

.item-catalog__title a {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
}

.item-catalog__title a:hover,
.item-catalog__title a:focus {
    color: var(--basic-red);
}

.item-catalog__title a:active {
    color: var(--special-opacity-black);
}

.item-catalog__about {
    max-height: 220px;
    overflow-y: auto;
    padding: 12px 0 0 0;
    margin: 0;
    line-height: 18px;
    color: var(--basic-grey-darken);
}

.item-catalog__link {
    padding: 16px 75px;
    margin: 34px 0 43px 0;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.item-catalog__link:hover,
.item-catalog__link:focus {
    background-color: var(--special-red);
}

.item-catalog__link:active {
    background-color: var(--special-red-dark);
}

.catalog__item::before {
    display: block;
    content: "";
    width: 360px;
    height: 40px;
    opacity: 0.12;
    background-image: url("../img/browser.svg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.catalog__item:hover::before,
.catalog__item:focus-within::before {
    opacity: 1;
}

.item-catalog:hover .item-catalog__img,
.item-catalog:focus-within .item-catalog__img {
    border-color: var(--basic-white);
    background-color: var(--basic-white);
    box-shadow: 0px 6px 15px var(--special-opacity-darken);
}

.item-catalog:hover .item-catalog__desc,
.item-catalog:focus-within .item-catalog__desc {
    z-index: 2;
}

.catalog__pagination {
    height: min-content;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 55px 0 44px 0;
}

.pagination__link {
    min-width: 50px;
    padding: 16px 10px;
    margin: 0 11px 15px 0;
    box-sizing: border-box;
    color: var(--basic-black);
    background-color: var(--basic-grey);
}

.pagination__link_next {
    padding: 16px 78px;
}

.pagination__link_current {
    background-color: var(--basic-white);
    box-shadow: inset 0 0 0 3px var(--special-grey-whiten);
    pointer-events: none;
}

.pagination__link:hover:not(.pagination__link_current),
.pagination__link:focus:not(.pagination__link_current) {
    background-color: var(--special-grey);
}

.pagination__link:active {
    background-color: var(--special-grey-darken);
    color: var(--special-opacity-black);
    box-shadow: inset 0px 3px 0px var(--special-opacity-dark);
}

/* main-footer */

.contacts {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-rows: 54px 1fr 54px;
}

.contacts__map {
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.block-contacts {
    grid-column: 2/-2;
    grid-row: 2/-2;
    z-index: 1;
    margin-left: 1.7%;
}

.contacts__map {
    width: 100%;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--basic-grey-darken);
}

.contacts__block {
    text-align: left;
    width: 319px;
    min-height: 308px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--basic-white);
}

.block-contacts__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 48px 0 24px 0;
}

.block-contacts__address {
    margin: 0 0 21px 0;
}

.block-contacts__address,
.block-contacts__tel {
    font-style: normal;
    line-height: 17px;
    color: var(--basic-grey-darken);
}

.block-contacts__tel {
    display: block;
}

.block-contacts__button {
    margin: 38px 0 47px 0;
}

.block-contacts__link-modal {
    background-color: var(--basic-red);
    color: var(--basic-white);
    padding: 16px 44px;
}

.main-footer__container_socials {
    display: grid;
    grid-template-columns: 4fr 8fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 68px 20px 75px 20px;
}

.socials__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.socials__item {
    margin: 0 10px 20px 0;
}

.socials__link {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    background-color: var(--basic-grey-whiten);
}

.socials__link:hover,
.socials__link:focus {
    background-color: var(--special-red);
}

.socials__link:active {
    background-color: var(--special-red-dark);
    box-shadow: inset 0px 3px 0px var(--special-opacity-dark);
}

.socials__link:active svg {
    opacity: 0.3;
}

.main-footer__also {
    text-align: left;
    padding-top: 6px;
}

.also__tagline {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    padding: 0 0 10px 0;
    margin: 0;
}

.also__promotion {
    line-height: 22px;
    color: var(--special-grey-blacken);
    padding: 0;
    margin: 0;
}

/* Modal */

.modal-write-us {
    position: fixed;
    width: 960px;
    height: 590px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    margin: auto;
    padding: 0 100px;
    text-align: left;
    box-sizing: border-box;
    background-color: var(--basic-white);
    box-shadow: 0 30px 50px var(--special-opacity-black);
    z-index: 3;
    overflow-y: overlay;
}

.modal_show {
    display: block;
    animation: bounce 0.6s;
}

.modal-write-us__title {
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
    margin: 0;
    padding: 63px 0 0 0;
}

.field {
    display: inline-block;
    vertical-align: top;
    padding: 37px 0 0 0;
    margin: 0;
}

.form-modal__login {
    margin: 0 36px 0 0;
}

.field__label {
    display: block;
    line-height: 18px;
    font-weight: 700;
    padding-bottom: 7px;
}

.field__input {
    width: 360px;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    line-height: 18px;
    color: var(--special-opacity-grey);
    border: 2px solid var(--special-grey-white);
    border-radius: 3px;
}

.field__input::placeholder {
    color: var(--special-opacity-grey);
}

.field__input_message {
    width: 760px;
    height: 118px;
    resize: none;
}

.field__input:hover {
    border: 2px solid var(--special-grey-dark);
    color: var(--special-opacity-grey);
}

.field__input:focus {
    color: var(--special-grey-blacken);
    border: 2px solid var(--basic-black);
}

.field__input:focus::placeholder {
    color: var(--special-grey-blacken);
}

.field__input:invalid {
    border: 2px solid var(--basic-red);
    color: var(--basic-red);
}

.form-modal__button {
    background-color: var(--basic-red);
    color: var(--basic-white);
    padding: 16px 84px;
    margin: 42px 0;
}

.modal-write-us__close {
    position: absolute;
    top: 76px;
    right: 91px;
    width: 21px;
    height: 21px;
    padding: 0;
    background-image: url("../img/close-cross.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--basic-white);
    border: none;
    opacity: 0.3;
}

.modal-write-us__close:hover,
.modal-write-us__close:focus {
    opacity: 1;
}

.modal-write-us__close:active {
    opacity: 0.1;
}

.modal_error {
    animation: shake 0.6s;
}

/* Animations */

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}